* {
    margin: 0;
    padding: 0;
}

body {
    background-repeat: no-repeat;
    overflow: hidden;
    background-color: white;
}

.head{
    background-image: url('inboxp.webp');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: auto;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
    object-fit: fill;
    /* margin: auto; */
}

.title {
    text-align: center;
    /* font-weight: bold; */
    /* font-style: normal; */
    font-family: 'Georama', sans-serif;
}

.Rectangle1 {
    text-align: center;
    width: 30vw;
    display: flex;
    /* justify-content: left; */
    padding-left: 1rem;
    align-items: center;
    margin: auto;
    height: 4rem;
    background-color: white;
    border-radius: 0px;
    line-height: 2.7rem;
    font-size: medium;
    font-family: 'Georama', sans-serif;
    font-style: normal;
    border-radius: 0rem 1.5rem 0rem 1.5rem;
    position: relative;
    margin-bottom: 2rem;
}

.Rectangle2 {
    text-align: center;
    width: 30vw;
    display: flex;
    /* justify-content: center; */
    padding-left: 1rem;
    align-items: center;
    margin: auto;
    height: 4rem;
    background-color: white;
    border-radius: 0px;
    line-height: 2.7rem;
    font-size: medium;
    font-family: 'Georama', sans-serif;
    font-style: normal;
    border-radius: 0rem 1.5rem 0rem 1.5rem;
    position: relative;
    margin-bottom: 2rem;
}

.back{
    display: inline-flex;
    margin-top: 2rem;
    margin-left: 3rem;
    font-size: 1.2vw;
    font-family: 'Inter', sans-serif;
    text-decoration: none;
    color: black;
    width: 3rem;
}

.Rectangle3 {
    text-align: center;
    width: 30vw;
    display: flex;
    /* justify-content: center; */
    padding-left: 1rem;
    align-items: center;
    margin: auto;
    height: 4rem;
    background-color: white;
    border-radius: 0px;
    line-height: 4rem;
    font-size: medium;
    font-family: 'Georama', sans-serif;
    font-style: normal;
    border-radius: 0rem 1.5rem 0rem 1.5rem;
    position: relative;
}

.container{
    width: 50vw;
    margin: auto;
    height: 100vh;
    display: flex;
    margin-top: -30rem;
    flex-direction: column;
    padding-top: 1.5rem;
    border: none;
    border-radius:  3rem 3rem 0 0 ;
    background-color: white;
    /* margin-top: -1.5rem; */
    background-color: #BDFFBF;
    backdrop-filter: blur(30px) saturate(180%);
    -webkit-backdrop-filter: blur(2px) saturate(180%);
    background-color: rgba(186, 255, 197, 0.89);
    /* border-radius: 12px; */
    border: 1px solid rgba(255, 255, 255, 0.200);

}


.container::before{
    content: '.';
    background-color: black;
    display: inline-flex;
    width: 3rem;
    position: absolute;
    left: 48%;
    /* top: 29%; */
    border-radius: 0.5rem;
    height: 1vh;
}

.paragraph {
    margin-top: 3rem;
}

@media (max-width:1200px){
    .head{
        height: 25vh;
        background-image: url('Inbox.png');
        background-repeat: no-repeat;
        background-size: contain;
    }

    .container{
        width: 100vw;
        margin-top: -2rem;
    }

    .container::before{
        display: flex;
        margin: auto;
        width: 10vw;
        margin-top: -12rem;
        margin-left: -0.6rem;
    }
    .back{
        font-size: 5vw;
        margin-left: 1rem;
        z-index: 1000;
    }
    .title{
        margin-top: -2rem;
    }

    .Rectangle1,.Rectangle2,.Rectangle3{
        width: 90vw;
    }
}