<!DOCTYPE html>
<html lang="en" xmlns:th = "http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inbox Page</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Federo&display=swap" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/inbox.css}">
    <!-- fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Inter&display=swap" rel="stylesheet">

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Georama:wght@600&display=swap" rel="stylesheet">

<!-- icon -->
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
</head>
<body>
    <header>
        <div class="head"></div>
    </header>
    <div class="container">
        <a th:href="@{/hearus/home/{id}(id= ${id.id})}" class="back"><span class="material-symbols-outlined">
            keyboard_backspace
            </span>Back
        </a>
        <h1 class="title">Inbox</h1><br>
        <div class="paragraph">
            <p class="Rectangle1">Check Latest Gov Schemes Updated Today</p><br>
            <p class="Rectangle2">Your Hearing Aid Case will arrive today!!!</p><br>
            <p class="Rectangle3">Job Alert!! A vacancy for assistant at XYZ.</p>
        </div>
    </div>
</body>
</html>