<!DOCTYPE html>
<html xmlns:th= "http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>First Page</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Federo&display=swap" rel="stylesheet">
    <link rel="stylesheet" th:href ="@{/style.css}">
</head>
<body>
    <div class="container">
        <div class="image">
            <img src="png2 1.png" class="Ear-image" alt="">
        </div>
        <h1 class="Main-Title">Your Smart Hearing Aid</h1>
        <p class="Paragraph">Control, manage & monitor your hearing aid on single platform</p>
        <a th:href="@{second}">
            <button class="btn" >Lets Get Started</button>
        </a>
    </div>
</body>
</html>