<!DOCTYPE html>
<html lang="en" xmlns:th = "http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Register</title>
		<link
			rel="stylesheet"
			href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css"/>
		<link rel="stylesheet" th:href="@{/register.css}" />


		<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&display=swap" rel="stylesheet">

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@500&display=swap" rel="stylesheet">
	</head>
	<body>
		<div class="container">
			<span class="image"></span>
			<form th:action="@{/hearus/register/post}" th:object="${userReg}" method="POST" id="form">
				<p>
					<input
						type="text"
						class="name"
						th:field="*{userName}"
						id="name-el"
						placeholder="Full Name"
					/>
				</p>

				<p class="emailP">
					<input type="email"
						   class="email"
						   id="em-el"
						   th:field="*{email}"
						   placeholder="Email" />
                    
				</p>

                <span class="Span-email" id="em-span-el"></span>


				<p>
					<input
						type="password"
						class="password"
						th:field="*{password}"
						id="pass-el"
						placeholder="Password"
					/>
					<i class="bi bi-eye-slash" id="togglePassword"></i>
				</p>

				<span class="Passtxt " id="span-pas-el"> </span>

				<p>
					<input
						type="password"
						class="con-password"
						id="conPass-el"
						placeholder="Confirm Password"
					/>
				</p>

				<span class="Cpasstxt" id="con-pas-el"></span>
				<input type="submit" class="register" value="Register" />
			</form>
		</div>
		<script th:src="@{/register.js}"></script>
	</body>
</html>
