<!DOCTYPE html>
<html lang="en" xmlns:th = "http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" th:href="@{/second.css}" />
		<!-- font api's -->
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link
			href="https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap"
			rel="stylesheet"
		/>

		<title>second page</title>
	</head>
	<body>
		<div class="container">
			<div class="image">
				<img src="png3.png" alt="" />
			</div>

			<a th:href = "@{/hearus/login}">
				<button class="login">LOGIN</button>
			</a>
			<a th:href = "@{/hearus/register/new}">
				<button class="register">REGISTER</button>
			</a>

			<div class="OR">OR</div>

			<div class="links">
				<div class="google"></div>
				<div class="twitter"></div>
				<div class="facebook"></div>
			</div>
		</div>
	</body>
</html>
